<label>
  Name:

</label>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

</form>

<runtime-content [formGroup]="profileForm" [template]="template"></runtime-content>


<p>
  <button (click)="updateName()">Update Name</button>
</p>
 Form Value: {{ profileForm.value | json }}
 <br>
<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->